@model FurnitureStore.Models.ItensPedido

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Item do Pedido</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.pedidoID, "Pedido")            
        </div>
        <div class="editor-field">           
            @Html.DisplayFor(model => model.Pedido.id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.produtoID, "Produto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("produtoID", String.Empty)
            @Html.ValidationMessageFor(model => model.produtoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.qtdeProduto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.qtdeProduto)
            @Html.ValidationMessageFor(model => model.qtdeProduto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.valorTotalProduto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.valorTotalProduto)
            @Html.ValidationMessageFor(model => model.valorTotalProduto)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index", new { id = Model.pedidoID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/validations_pt-br")
}
