@model FurnitureStore.Models.Vendedor

@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Cadastrar</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Nome do Usuário</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.apelido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apelido)
            @Html.ValidationMessageFor(model => model.apelido)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
